body {
  position: relative;
  /* font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", sans-serif; */
}

canvas {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
}

/* #naviBar {
  background-color: transparent;
} */

.bg-container {
  width: 100%;
  height: 100%
}
.doc-floater {
  position: fixed;
  z-index: 9999;
  left: 20px;
  top: 20%;
  text-align: center;
  height: 300px;
  width: 200px;
  background: rgba(0, 0, 0, 0.7);
  color: #FFF;
  border-radius: 25%;
}
.doc-floater ul {
  margin: 0;
  padding: 20px 0 0 0;
  display: block;
  list-style-type: none;
  line-height: 50px;
}
.doc-section {
  margin: 0 auto;
  padding: 50px 0;
  z-index: 1;
  width: 50%;
  height: 100%;
  color: #ddd;
  background: transparent;
}

.doc-section h1 {
  font-size: 2em;
  padding-top: 20px;
  padding-bottom: 10px;
  border-bottom: 2px solid #ddd;
}

.doc-section h2 {
  font-size: 1.4em;
  padding-top: 20px;
  padding-bottom: 10px;
}

.copyright {
  width: 100%;
  bottom: 0;
  position: fixed;
  padding: 10px;
  background-color: #FFFFFF;
  border-top: solid 1px #e7e7e7;
  color: #777;
  text-align: center !important;
}

.copyright a {
  color: #777;
}

.copyright a:hover,
.copyright a:focus {
  color: #5e5e5e;
  text-decoration: none;
}

.center-fix {
  position: relative;
  top: 20%;
  max-width: 600px;
  margin: 0 auto;
  z-index: 99;
  text-align: center;
}

.opacity-warp {
  border-radius: 50%;
  box-shadow: 0 10px 10px 10px;
  color: #000;
  background-color: #000;
  opacity: 0.7;
  margin-bottom: 40px;
}

.center-fix h1,
.center-fix h2 {
  font-family: miranafont, "Hiragino Sans GB", STXihei, "Microsoft YaHei", SimSun, sans-serif;
  font-size: 8em;
  color: #fff;
}

.my-ico {
  width: 100px;
  height: 100px;
}

.circle {
  border-radius: 100%;
  box-shadow: 0 0 10px 0;
}

.circle-border-brown {
  border: solid 5px rgba(255, 223, 64, 0.4);
}

#main-container {
  background-color: #AD66D5;
}

/* BACK TO TOP */
.clear-both {
    clear: both;
}
.back-to-top {
  position: fixed;
  z-index: 9999;
  right: 50px;
  bottom: 100px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  opacity: 0.6;
  border: solid 2px #fff;
  border-radius: 100%;
}
.back-to-top span{
  position: absolute;
  top: 15px;
  left: 13px;
  width: 20px;
  height: 20px;
  display: inline;
  border-top:solid 2px #fff;
  border-right:solid 2px #fff;
  transform: rotate(-45deg);
}
.back-to-top:hover {
  cursor: pointer;
}

/* HOVER EFFECTS */
.evenflow_rotate {
  transition: transform 0.25s ease;
}

.evenflow_rotate:hover {
  transform: rotate(45deg);
}

.evenflow_shiftX {
  transition: transform 1s ease;
}

.evenflow_shiftX:hover {
  transform: translateX(20px);
}

.evenflow_shiftY {
  transition: transform 1s ease;
}

.evenflow_shiftY:hover {
  transform: translateY(-20px);
}

.evenflow_scale {
  transition: transform 0.25s ease;
}

.evenflow_scale:hover {
  transform: scale(1.25, 1.25);
}

.evenflow_spin {
  transition: transform 0.25s ease;
}

.evenflow_spin:hover {
  transform: rotate(360deg);
}

@keyframes evenflow_shake {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.evenflow_shake {
  transform: scale(1);
}

.evenflow_shake:hover {
  animation-name: evenflow_shake;
  animation-duration: 500ms;
  transform-origin: 50% 50%;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease;
}